<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, nihil deserunt! Dignissimos asperiores fugiat repellat alias minus voluptates at impedit, iusto natus consequuntur amet sapiente? Non delectus neque quas dolor.</p>
    <a href="/" class="btn btn-primary btn-lg">This page</a>
</div>